.floatingedges {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
    stroke-width: 2;
  }
  
  .floatingedges .react-flow__handle {
    opacity: 0;
  }

.object-node {
  border: 1px solid #eee;
  padding: 12.5px 25px 12.5px 25px;
  border-radius: 5px;
  background: white;
  color: black;
}

  .object-node .title {
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  .object-node .unstructured-field {
    text-align: left;
    margin: 0;
  }